body {
    background: url(image/123.jpg) no-repeat fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: black;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(240, 240, 240, .5);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    background-color: rgba(240, 240, 240, .5);
}

.input1 {
    border-radius: 4px;
    width: 300px;
    height: 20px;
}

.center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tododiv {
    height: 260px;
    width: 240px;
    float: left;
    margin-left: 52px;
    margin-top: 30px;
}

.tag {
    height: 240px;
    width: 240px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: orange;
    padding-left: 2px;
    word-wrap: break-word;
    word-break: normal;
    overflow-y: auto;
    text-align: justify;
    float: left;
}

.close {
    float: right;
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    border: 0px solid #3465A4;
    color: #ddd;
    visibility: visible;
    font-size: 20px;
    font-weight: bold;
}

.edit-text {
    height: 230px;
    width: 230px;
    resize: none;
    border: 0;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}